.hero {
  background: #092c4c;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-bottom: 80px;
}

.heroImg {
  margin-top: 10px;
  margin-left: -100px;
}
/* .row{
    padding: 100px;
} */

.heroText {
  padding: 30px;
  text-align: start;
  margin-right: -100px;
}

